@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    juan jose ruiz mojica<br />
    alumno del instituto tecnologico de cd altamirano<br />
    <abbr title="Phone">CP:</abbr>
    40701
</address>

<address>
    <strong>Support:</strong> <a href="juanjrum97@outlook.com">juanjrum97@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="juan_jrum@outlook.com">juan_jrum@outlook.com</a>
</address>
